*{
    box-sizing: border-box;
    margin: 0;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 40px;
  
  }
  
  #input-container {
    margin-bottom: 40px;
  }

  table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 20px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}  

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }

  .delete-btn{
    background-color: #dc3545;
    margin-left:10px;
  
  }  